@{
  var h = "header";    
}
<div style="background-color:  #631db3" class="header">
    <span><img style="background-color: #b6ff00 ;"  src="~/Images/admin.gif" alt="Admin Image" height="50" width="50"></span>
  
<h1 style="color: #abbbb1 ; height: max-content ; width: max-content">Admin Panel</h1> 

        <span ><a style="color:  #f3e0e0"href="~/Shared/Admin/AdminMain.cshtml">Home</a></span>
        <span ><a style="color:  #f3e0e0"href="~/Shared/Admin/AddCat.cshtml">Add Category</a></span>
        <span ><a style="color:  #f3e0e0"href="~/Shared/Admin/AddProduct.cshtml">Add Product</a></span>
        <span ><a style="color:  #f3e0e0"href="~/Shared/Admin/ListForProdUpdate.cshtml">Update Product</a></span>
        <span ><a style="color:  #f3e0e0"href="~/Shared/Admin/ListForCatUpdate.cshtml">Update Category</a></span>
       </div>