@{
    var db = Database.Open("WebSecurity");
  var q = "SELECT * FROM Category ";
    var data = db.Query(q);  
  }

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <table>
       @foreach(var val in data)
       {
         <tr>
            <td>@row.Name</td>
         </tr>
     } 
            </table>
    </body>
</html>
