@{
    var f="footer";
}

         <div style="background-color: #654949"class="footer"><hr />
            <p style="float: left; color: #434078 ">Copyright Zara Nasar. </p>
              <a style="float: right; color: #19078d" href="#">Contact us</a>
                
         </div>
        
