@{
  var h = "header";    
}
<div style="background-color: #0ddfec" class="header">

<span><img style="background-color: #b6ff00 ;"  src="~/Images/main.jpg" alt="Main Image" height="250" width="540"></span>
<span><img style="background-color: #b6ff00 ;"  src="~/Images/shopping.png" alt="Main Image" height="306" width="700"></span>


<h1 style="color: #d92020 ; height: max-content ; width: max-content">Make your shopping Easier</h1> 
        <span><a href=">Home</a></span>
        <span><a href="~/Shared/Client/SignUp.cshtml">Register</a></span>
        <span><a href="~/Default.cshtml">Products</a></span>
        <span><a href="~/Login.cshtml">Login</a></span>         
       <span><a href="~/Logout.cshtml">Logout</a></span>         
   
    <hr>
</div>