
@{
    
}    


<!DOCTYPE html>

<html lang="en">
    <head>
    <link rel="stylesheet" href="Styles/foundation.min.css">
    <link rel="stylesheet" href="Styles/app.css">
    <link rel="stylesheet" href="Styles/jquery.hoverZoom.css">
    <script src="javascript/modernizr.foundation.js"></script>

    </head>
    <body>
@RenderPage("/Shared/Client/_Header.cshtml")
@RenderBody()
@RenderPage("/Shared/Client/_Footer.cshtml")
        
    </body>
</html>
